.example-fill-remaining-space {
  flex: 1 1 auto;
}

.username {
  font-size: 0.9rem;
  color: #fff;
}


.container-router {
  display: block;
  width: 100%;
  min-width: 100%;
  padding: 0;
}

.username-container {
  cursor: pointer;
}

.scrollbar {
  max-height: calc(100vh - 65px);
  overflow-y: auto;
  min-height: calc(100vh - 65px);
}