div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

h1 {
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    margin-bottom: 20px;
}

a {
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}