.book-container {
    padding: 120px 20px 20px 40px;

    h3 {
        font-weight: bold;
    }

    &__header {
        margin-bottom: 40px;
    }

    &__info {
        width: 80%;
        display: flex;
        justify-content: center;
        margin: 0 auto;

        table {
            width: 100%;

            td {
                text-align: center;
            }
        }
    }

    &__footer {
        margin-top: 50px;
    }

    &__header,
    &__footer {
        display: flex;
        justify-content: space-evenly;
    }
}