<div class="book-container">
    <div class="book-container__header">
        <h3>Container: {{container.containerId}}</h3>
        <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input type="date" matInput [(ngModel)]="bookingDate">
        </mat-form-field>
    </div>
    <div class="book-container__info">
        <table>
            <thead>
                <tr>
                    <th>Issued by</th>
                    <th>Status</th>
                    <th>Fee</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{container.issuedBy}}</td>
                    <td>{{container.status}}</td>
                    <td>{{container.fee}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="book-container__footer">
        <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
        <button mat-raised-button color="accent" (click)="addToCart()">Add to Cart</button>
        <button mat-raised-button color="primary" (click)="pay()">Pay now</button>
    </div>
</div>